body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
 
}

.invisible-text{
display: none
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* logo nav*/
.logo-name-web-nav{
  color:#4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-nav-studio {
  color: #2e2f42;
}
/*navigation*/ 
.link-nav {
  color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.link-nav:focus {
  color: #404bbf;
}
.link-nav:hover {
  color: #404bbf;
}
.link-nav:active {
  color: #404bbf;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: var(--WHITE, #FFF);
}
.address-nav{
 font-style: normal;
}
.link-nav-contact{
color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
 
.link-nav-contact:hover{
  color: #404bbf;
}

.link-nav-contact:focus {
  color: #404bbf;
}

.link-nav-contact:active{
  color: #404bbf;
}
.flex-nav,
.navigator,
.ul-nav,
.address-nav,
.ul-address {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.navigator,
.address-nav {
  padding-left: 156px;
  padding-top: 24px;
  padding-bottom: 24px;
}
/*section button*/

.section-button{
  padding: 188px 0;
  background-color: #2e2f42;
}

.section-button-title{
  width: 496px;
  margin: auto;
color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button-one {
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
margin: auto;
}
button:hover,
button:focus {
  background-color: #404bbf;
}

/*section 1 content*/

.title-section-content{
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph-section-content{
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.ul-section-content {
  display: flex;
  gap: 24px;
  margin-top: 152px;
  margin-bottom: 120px;
}

.li-section-content {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
/*section 2 team*/

.section-team{
  background-color: #F4F4FD;
    margin-right: auto;
      margin-left: auto;
}
.li-section-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.title-section-team{
  color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
 margin: 120px;
}
.ul-section-team {
  display: flex;
  margin: auto;
  gap: 24px;
}

.li-section-team {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100%-72px)/4);
}
.title-team-name{
  color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.paragraph-team-skills{
color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*section 3 portfolio*/
.section-portfolio{

}
.ul-portfolio{

}
.item-portfolio{
  display: inline-flex;
  padding-bottom: 32px;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.title-portfolio{
  color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.title-info-portfolio{
  color:#2E2F42;
   font-size: 20px;
   font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.paragraph-portfolio{
  color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*footer*/

.footer{
  background-color: #2e2f42;
}
.logo-name-web-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-studio {
  color: #f4f4fd;

}

.footer-paragraph{
color: #F4F4FD;
width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}




       