
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
 
}

.invisible-text{
display: none
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* logo nav*/
.logo-name-web-nav{
  color:#4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-nav-studio {
  color: #2e2f42;
}
/*navigation*/ 
.link-nav {
  color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.link-nav:focus {
  color: #404bbf;
}
.link-nav:hover {
  color: #404bbf;
}
.link-nav:active {
  color: #404bbf;
}

.address-nav{
 font-style: normal;
}
.info-nav-contact{
color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
 

.info-nav-contact:hover{
  color: #404bbf;
}


.info-nav-contact:focus {
  color: #404bbf;
}


.info-nav-contact:active{
  color: #404bbf;
}

/*section button*/

.section-button{
  background-color: #2e2f42;
}

.section-button-title{
color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button-one {
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}
button:hover,
button:focus {
  background-color: #404bbf;
}

/*section 1 content*/

.title-section-content{
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph-section-content{
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*section 2 team*/

.section-team{
  background-color: #F4F4FD;
}
.section-team{
  margin-right: auto;
  margin-left: auto;
}

.title-section-team{
  color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.ul-section-team{
  background-color: #ffffff;
}
.title-team-name{
  color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.paragraph-team-skills{
color: var(--SLATE, #434455);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.32px;
}
/*section 3 portfolio*/

.title-portfolio{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.title-info-portfolio{
  color:#2E2F42;
   font-size: 20px;
   font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.paragraph-portfolio{
  color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*footer*/

.footer{
  background-color: #2e2f42;
}
.logo-name-web-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-studio {
  color: #f4f4fd;

}

.footer-paragraph{
color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*reset global style*/

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-top: 0;
  margin-bottom: 0;
}
a {
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/*container*/

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul, li{
  display: inline-block
}
img{
  display: block;
}
.header{
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}
.navigator, .ul-nav, .li-nav, .address-nav, .ul-address, .li-address{
  display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.logo-container{
  padding-top: 24px;
  padding-bottom: 24px;
}
.ul-nav{
  padding-top: 24px;
  padding-bottom: 24px;

}
.ul-address{
padding-top: 24px;
padding-bottom: 24px;
margin-left: 332px;
}
.section-button{

    height: 600px;
    flex-shrink: 0;
}
.section-button-title{
  display: block;
  width: 496px;
  height: 120px;
  padding-top: 188px;
margin: auto;
}
.button-one{
  display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
      background: var(--IRIS, #4D5AE5);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.ul-section-content{
  display: flex;
  gap: 24px;
  margin-top: 152px;
  margin-bottom: 120px;
}
.li-section-content, .title-section-content{
  display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}
.title-section-team{
padding-top: 120px;
  margin-bottom: 72px;
}
.li-section-team{
  display: inline-flex;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-li{
display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
