body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
 
}

.invisible-text{
display: none
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* logo nav*/
.logo-name-web-nav{
  color:#4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-nav-studio {
  color: #2e2f42;
}
/*navigation*/ 
.link-nav {
  color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.link-nav:focus {
  color: #404bbf;
}
.link-nav:hover {
  color: #404bbf;
}
.link-nav:active {
  color: #404bbf;
}

.address-nav{
 font-style: normal;
}
.info-nav-contact{
color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
 

.info-nav-contact:hover{
  color: #404bbf;
}


.info-nav-contact:focus {
  color: #404bbf;
}


.info-nav-contact:active{
  color: #404bbf;
}

/*section button*/

.section-button{
  background-color: #2e2f42;
}

.section-button-title{
color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button-one {
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}
button:hover,
button:focus {
  background-color: #404bbf;
}

/*section 1 content*/

.title-section-content{
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph-section-content{
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*section 2 team*/

.section-team{
  background-color: #F4F4FD;
}
.section-team{
  margin-right: auto;
  margin-left: auto;
}
.title-section-team{
  color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.ul-section-team{
  background-color: #ffffff;
}
.title-team-name{
  color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.paragraph-team-skills{
  color:#434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*section 3 portfolio*/

.title-portfolio{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.title-info-portfolio{
  color:#2E2F42;
   font-size: 20px;
   font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.paragraph-portfolio{
  color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*footer*/

.footer-cont{
  background-color: #2e2f42;
}
.logo-name-web-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-studio {
  color: #f4f4fd;

}

.footer-paragraph{
color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*reset global style*/

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-top: 0;
  margin-bottom: 0;
}
a {
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/*container*/

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

img{
  display: block;
}

/*navigator*/
.navigator, .ul-nav, .a{
  display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.address-nav, .ul-address{
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 40px;
  padding-left: 332px;

}